---
import ContactForm from '../components/forms/ContactForm.astro';
import Layout from '../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';

const seo = {
	title: 'Contatti | Asura Jiu-Jitsu Studio',
	description: 'Contact Page',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Contattaci</h1>
				<p>
					Hai domande sui nostri corsi, vuoi prenotare una lezione di prova o
					semplicemente saperne di più sul mondo del Jiu-Jitsu? Siamo qui per
					aiutarti. Compila il modulo e ti risponderemo il prima possibile.
					Se preferisci, puoi anche contattarci direttamente tramite telefono o email.
				</p>
				<div>
					<p>
						<em><a href="tel:+391234567890">(123) 456-7890</a></em> • <em
							><a href="mailto:info@asura.it">info@asura.it</a
							></em
						>
					</p>
				</div>
			</div>
			<div class="col-2__container">
				<ContactForm />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
