---
import { Button, FormInput, FormSelect, FormTextarea } from '@components/odyssey-theme';

const selectOptions = [
  "Instagram",
  "Passaparola",
  "Google",
]

---

<form name="Contact Form" method="POST" action="/contact-thank-you">
  <FormInput type="text" label="Nome" name="Name" placeholder="John Doe" />
  <FormInput type="email" label="Email" name="Email" placeholder="hello@example.com" />
  <FormSelect label="Come ci hai trovati?" options={selectOptions} />
  <FormTextarea label="Messaggio" name="Message" placeholder="Scrivi il tuo messaggio..." />
  <Button>Invia</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>